.name {
    /* padding-top: 0.6vh; */
    background: linear-gradient(to right, #ff3366, #33ccff);
    background-clip: text;
    color: transparent;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    /* transition: color 0.3s ease-in-out; */
    /* font-size: 8vw; */
    font-size: max(3rem, 7vw);
    /* text-transform: uppercase; */
    /* text-shadow: 3px 3px 0px #ffcc00; */
}

.quote {
    /* font-size: x-large; */
    font-size: clamp(1rem, 3vw, 2rem);
    /* --animate-delay: 0.5s; */
}

.content-section {
    margin-top: 100px;
    /* padding-top: 100px; */
}

.social-icons {
    margin: 5px;
    font-size: 2em;
}

.about {
    font-size: large;
    /* margin: ; */

}

.description {
    font-size: large;
    color: #f8f8f8;
}

.card {
    transition: border 0.15s ease-in-out;
}

.card:hover {
    border: 4px solid #337ab7;
    /* You can change the color to whatever you like */
    box-shadow: none;
}

#projects {
    margin-top: 200px;
    padding-top: 200px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}