body {
    /* background-color: ; */
    background: linear-gradient(90deg, #363434, #444, #3b3939);
    /* background: linear-gradient(45deg, #333, #444, #333); */
    color: #fff;
    /* Set text color to white for readability */


    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

}


/* hide scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button

.about-text {
    margin: auto;
}

.about-img {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;

}

.about-img::before {
    width: 305px; /* Slightly larger than the parent */
    height: 305px;
    /* background: linear-gradient(45deg, #ff3366, #33ccff, #ff3366, #33ccff); Multiple colors for a smoother gradient animation */
    animation: rotate 2s linear infinite;
    background : conic-gradient(in hsl, #ff3366, #33ccff, #ff3366);

    transition: all 0.6s ease; /* Smooth transition when hovering */
}


@keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}



.about-img::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    transition: all 0.5s;
}

.about-img pre {
    color: black;
    background-color: white;
    font-size: 4px;
    line-height: 1;
    text-align: center;
    position: relative; 
    transform: translate(-35%, -30%); /* Center the artwork */
    left: 50%;
    top: 50%;
    text-align: center;

    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;

}




.about-img pre:hover {
    /* transform: translate(-35%, -30%) rotateX(180deg) rotateY(180deg); */
    /* transform: translate(-35%, -30%) rotate(360deg); */
    animation: matrix-effect 1200ms linear infinite;
}

.navbar {
    background-color: transparent !important;   
    box-shadow: none;
}

.cell {
    display: grid;
    height: 100%;
}


.card {
    /* transition: border 0.15s ease-in-out; */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.75s ease-in-out;
    /* background-color: #363434; */
    /* background: #363434; */

    
}

.my-box{
    background: #363434;
    box-shadow: none;
}

.my-box:hover {
    /* border: 0 0 10px rgba(255, 51, 102, 0.5); */
    border-color: #33ccff;
    /* background: #363434; */
    /* background: linear-gradient(45deg, #ff3366, #33ccff); */
    /* background: linear-gradient(45deg, #ff3366, #33ccff); */
    /* background: linear-gradient(45deg, #ff3366, #33ccff); */
}

.card.visible {

    opacity: 1;
    transform: translateY(0);
    z-index: 1;
    background: #363434;
    

    position: relative;
    box-sizing: border-box;


    
}

.card:hover {
    outline: 6px solid transparent;

    /* outline-color: rgba(255, 255, 255, 0.5); */

    /* animate opacity from 0.5 to 1 */
    

    /* outline-color: rgba(255,51,102, 0.5); */
}




/* .navbar-item:hover {
    background-color: rgba(255,51,102, 0.5); 
    color: #AAA;
  } */

/* .navbar-item {
    border-radius: 20px;
} */

.dots {
    position: fixed;
    right: 30px;
    top: 50%;
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    gap: 10px;

    z-index: 3;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0.5;

}

.dot.active {
    /* background: linear-gradient(45deg, #ff3366, #33ccff); */
    opacity: 1;

}


.github-icon {
    color: whitesmoke;
    align-self: center;
    font-size: 30px;
    transition: all 0.3s;
}

.github-icon:hover {
    /* color: #2dba4e; */
    /* color: #33ccff */
    /* color: #ff3366; */
    font-size: 35px;
    border-color: #33ccff;
}


.demo-icon {
    color: whitesmoke;
    align-self: center;
    font-size: 25px;
    margin: 5px;
    transition: all 0.3s;
}

.demo-icon:hover {
    /* color: #2dba4e; */
    /* color: #33ccff */
    /* color: #ff3366; */
    font-size: 30px;
    border-color: #ff3366;
}



.form-container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.input-container input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);

}

.input-container textarea {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.button-container {
    width: 50%;
    text-align: center;

}

.submit-button {
    border-radius: 50%;
    /* border: 1px solid #ddd; */
    width: 70px;
    height: 70px;
    place-items: center;
    background: rgb(54, 52, 52);
    /* border: 5px solid ; */
    position: relative;

    border: 3px solid #ddd;

    transition: all ease 0.2s;
}



.submit-button::after {
    content: '';
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 47%;
    animation: rotate 2s linear infinite;
    background : conic-gradient(in hsl, #ff3366, #33ccff, #ff3366);
    z-index: -1;
}


.submit-button:hover {
    border: 0px solid #ddd;

}


.card-header {
    line-height: 2;
}


