{% assign me = site.data.home.me %}


<section class="container content-section" id="About">
    <h1 class="name animate__animated animate__fadeInRight animate_faster">About Me</h1>
    
    <div class="container">
        <div class="columns">
            <div class="about-text column is-three-fifths">
                <p class="description">
                    {{ me.about }}
                </p>
            </div>

            <div class="column is-two-fifths">
                <div class="about-img">
                    <img src="assets/imgs/ascii-art (1).png">
                </div>
                
        </div>

    </div>
        
</section>



