
<script>
    $(document).ready(function () {
        $(`.dot:eq(${0})`).addClass("active");


  function checkVisibility() {
    $(".animate-on-scroll").each(function () {
      const cardTop = $(this).offset().top;
      const offsetBottom = $(window).height() * 0.95;
      const scrollBottom = $(window).scrollTop() + offsetBottom;
    const offsetTop = $(window).height() * .15;
    const topView = $(window).scrollTop() - offsetTop;

      if (scrollBottom > cardTop && cardTop > topView) {
        $(this).addClass("visible");
      } else {
        $(this).removeClass("visible");
      }
    });
  }

  // Run on page load and scroll
  checkVisibility();
  $(window).on("scroll", checkVisibility);
});

$(window).on("scroll", function () {
    const sections = $("section");
    let currentSection = 0;

    sections.each(function (index) {
        const sectionTop = $(this).offset().top;
        if ($(window).scrollTop() >= sectionTop - $(window).height() / 2) {
            currentSection = index;
        }
    });

    $(".dot").removeClass("active");
    $(`.dot:eq(${currentSection})`).addClass("active");
}); 
</script>