<section class="container content-section" id="projects">
    <h1 class="name animate__animated animate__fadeInRight animate_faster">Projects</h1>
    
    <!-- Bulma Grid with no spacing -->
    <div class="grid is-col-min-18 is-gap-1">
        {% for card in include.collection %}
        <div class="cell">
            <div class="card animate-on-scroll">
                <!-- <header class="card-header">
                    <p class="card-header-title">{{ card.title }}</p>
                    {% if card.url %}

                    <a href="{{ card.url }}" class="github-icon">
                        <i class="fab fa-github"></i>
                    </a>
                    {% endif %}

                    {% if card.demo %}

                    <a href="{{ card.demo }}" class="demo-icon">
                        <span class="demo-icon-text">🚀</span>
                    </a>

                    {% endif %}
                </header> -->


                <div class="card-content">
                    <p class="title is-5">{{ card.title }}</p>
                    <div class="content">
                        {{ card.desc}}
                    </div>
                </div>
                
                <div class="grid my-grid">
                    {% if card.url %}
                    <a href="{{ card.url }}" class="github-icon my-icon">
                    <div class="cell has-text-centered my-cell">
                        <span class="box my-box">
                                <i class="fab fa-github"></i>
                                Github
                            </span>
                        </div>
                    </a>
                    {% endif %}

                    {% if card.demo %}
                    <a href="{{ card.demo }}" class="demo-icon my-icon">
                    <div class="cell has-text-centered">
                        <span class="box my-box">
                                <span class="demo-icon-text">🚀</span>
                                Demo
                            </span>
                        </div>
                    </a>
                    {% endif %}
                </div>

            </div>
        </div>
            
        {% endfor %}
    </div>

    
</section>



