{% assign classes = site.data.home.classes %}

<script>
    $(document).ready(function () {
        $(`.dot:eq(${0})`).addClass("active");


  function checkVisibility() {
    $(".animate-on-scroll").each(function () {
      const cardTop = $(this).offset().top;
      const offsetBottom = $(window).height() * 0.95;
      const scrollBottom = $(window).scrollTop() + offsetBottom;
    const offsetTop = $(window).height() * .15;
    const topView = $(window).scrollTop() - offsetTop;

      if (scrollBottom > cardTop && cardTop > topView) {
        $(this).addClass("visible");
      } else {
        $(this).removeClass("visible");
      }
    });
  }

  // Run on page load and scroll
  checkVisibility();
  $(window).on("scroll", checkVisibility);
});

$(window).on("scroll", function () {
    const sections = $("section");
    let currentSection = 0;

    sections.each(function (index) {
        const sectionTop = $(this).offset().top;
        if ($(window).scrollTop() >= sectionTop - $(window).height() / 2) {
            currentSection = index;
        }
    });

    $(".dot").removeClass("active");
    $(`.dot:eq(${currentSection})`).addClass("active");
}); 
</script>

<section class="container content-section" id="classes">
    <!-- <a href="{{ site.url }}/#Classes" class="text-decoration-none"> -->
        <h1 class="name animate__animated animate__fadeInRight animate_faster">Classes</h1>
    <!-- </a> -->

        <div class="columns is-multiline is-1">
            {% for class in classes %}
            <div class="column is-3">
                <div class="card animate-on-scroll class-card">
                    <div class="card-content">
                        <div class="content">
                            {{ class.name }}
                        </div>
                    </div>
                    
                </div>
            </div>
            
            {% endfor %}
        </div>
</section>