{% assign classes = site.data.home.classes %}


<section class="container content-section" id="classes">
        <h1 class="name animate__animated animate__fadeInRight animate_faster">Classes</h1>

        <div class="columns is-multiline is-1">
            {% for class in classes %}
            <div class="column is-3">
                <div class="card animate-on-scroll class-card">
                    <div class="card-content">
                        <div class="content">
                            {{ class.name }}
                        </div>
                    </div>
                    
                </div>
            </div>
            
            {% endfor %}
        </div>

        <canvas id="class-canvas" class="content animate-on-scroll"></canvas>
</section>