


<section class="container content-section" id="contact">
    <!-- <a href="{{ site.url }}/#Classes" class="text-decoration-none"> -->
        <h1 class="name animate__animated animate__fadeInRight animate_faster">Contact Me</h1>
    <!-- </a> -->
    
    <div class="columns ">
        <div class="column is-10">
            <div class="card animate-on-scroll">
                <div class="card-content">
                    <div class="content">
                        <form
                          action="https://formspree.io/f/xlddobjo"
                          method="POST"
                        >
        
                        <div class="form-container">

                            <div class="input-container">
                                <label>
                                <span>
                                    Your email:
                                </span>
                                <input type="email" name="email" required="true">
                                </label>

                            
                                <label>
                                Your message:
                                <textarea name="message" rows="5" required="true"></textarea>
                                </label>
                            </div>

                            <!-- your other form fields go here -->
                            
                            <div class="button-container">
                                <button class="submit-button" type="submit">Send</button>
                            </div>
        
                        </div>
                        </form>
                        
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>
