<script>

    $(document).ready(function() {

    const words = [];

    {% for class in site.data.home.classes %}
        words.push("{{ class.name }}");
    {% endfor %}

	var words_attr = [];

	var canvas = document.getElementById('class-canvas');
	canvas.width = window.innerWidth;
	canvas.height = window.innerHeight;

	if (canvas.getContext) {
		var c = canvas.getContext('2d'),
        w = canvas.width,
        h = canvas.height;
        
		c.strokeStyle = 'red';
		c.fillStyle = 'white';
		c.lineWidth = 5;
        
		// constructor
		Word = function(key) {
            this.text = key;
			this.x = Math.random() * w;
			this.y = Math.random() * h;
			this.font = Math.random() * 20 + 20 + 'px';
			this.speed = Math.random() * 5 + 1;
		}
		for (const key of words) {
            console.log(key);
            words_attr.push(new Word(key));
		}
		// console.log(words_attr.length);
        
		function animation() {
            for (var i = 0; i < words_attr.length; i++) {
                c.font = words_attr[i].font;
				c.fillText(words_attr[i].text, words_attr[i].x, words_attr[i].y);
				words_attr[i].width = c.measureText(words_attr[i].text).width;
				c.stroke();
			}
			move();
		}
        
		function move() {
            for (var i = 0; i < words_attr.length; i++) {
                if (words_attr[i].x > w) {
                    words_attr[i].x = -words_attr[i].width;
					words_attr[i].y = Math.random()*h;
                    words_attr[i].font = Math.random() * 20 + 20 + 'px Arial';
                    words_attr[i].speed = Math.random() * 5 + 1;
				}else{
                    words_attr[i].x += words_attr[i].speed;
				}
			}
		}
        
		setInterval(function() {
            c.clearRect(0,0,w,h);
			animation();
		},24);
        
	}
    });
</script>
    
    
