<!-- create a horizontal list of all my links in the top left of the screen -->


<!-- <nav class="navbar navbar-expand-lg fixed-top ">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}">Home</a>
            </li>
            {% for item in site.data.home.navbar %}
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}{{ item.url }}">{{item.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>


</nav> -->  


<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    
  
    <div id="" class="navbar-menu">
      <div class="navbar-start">
<!-- 
          <a class="navbar-item" href="{{ site.url }}">
            Home
          </a> -->
        {% for item in site.data.home.navbar %}
            <a class="navbar-item" href="{{ site.url }}{{ item.url }}">{{item.title}}</a>
        {% endfor %}
        
        </div>
      </div>
  
      
    </div>
  </nav>