<section class="">
    <div class="container py-5">
        <div class="main-timeline-2">

            {% for event in site.data.home.timeline_events %}
            {% assign side = forloop.index | modulo: 2 %}

            {% if side == 0 %}
            <div class="timeline-2 right-2">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">{{event.event}}</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2017</p>
                        <p class="mb-0">{{event.desc}}</p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="timeline-2 left-2">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="fw-bold mb-4">{{event.event}}</h4>
                        <p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2017</p>
                        <p class="mb-0">{{event.desc}}</p>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endfor %}
        </div>
    </div>
</section>