<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YKTK9DZTC8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YKTK9DZTC8');
    </script>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5VTMS6PH');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>

    <!-- Bootstrap -->
    {% include head.html %}

    {% seo %}
</head>

<body id="body has-navbar-fixed-top" class="rubik-font" style="overflow-x: hidden;">
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VTMS6PH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include animate_on_scroll.html %}

    <!-- navbar -->
    {% include navbar.html %}
    
    <!-- navigation dots -->
    {% include dots.html %}

    <!-- Header -->
    {% include header.html %}
    <!-- End Header -->

    {% include about.html %}

    {% include experience.html collection=site.data.home.experience %}

    <!-- Projects -->
    {% include projects.html collection=site.data.home.projects %}
    

    {% include class-list.html %}
     <!-- {% include courses.html %} -->


    {% include skills.html %}


    <!-- Contact -->
    {% include contact.html %}

    <!-- Footer -->
    {% include footer.html %}



</body>

</html>