<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap -->
    {% include head.html %}
</head>

<body id="body" class="rubik-font">

    <!-- navbar -->
    {% include navbar.html %}

    <!-- Header -->
    {% include header.html %}
    <!-- End Header -->

    <!-- Cards -->
    {% include card-list.html collection=site.data.home.projects %}


    <!-- Timeline -->
    <!-- {% include timeline.html %} -->


    <!-- Footer -->
    {% include footer.html %}



</body>

</html>